<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../public/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet"> 
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <p> <img src="../public/images/logo-mercado-liebre.svg"></p>
        <div><input class="bar" type="text" placeholder="Buscar productos, marcas"><i class="fa-solid fa-magnifying-glass"></i> </div>
        <p>comprá en cuotas sin tarjeta de crédito</p>
        <nav>
            
            <li> Ofertas</li>
            <li> Tiendas oficiales</li>
            <li>Vender</li>
            <li> Ayuda</li>
        
    
            <li> Crea tu cuenta</li>
            <li> Ingresá</li>
            <li> Mis compras </li>

        
        </nav>
    </header>

    <main>
        <section>
            <h3> Basado en tu última visita</h3>

            <img class="image" src="../public/images/img-cafetera-moulinex.jpg">
            <p class="precio">$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>

            <img class="image" src="../public/images/img-macbook-pro-2019.jpg">
            <p class="precio">$230.000</p>
            <p>20% OFF</p>
            <p>MacBook Pro 2019</p>

            <img class="image" src="../public/images/img-samsung-galaxy-s10.jpg">
            <p class="precio">$70.500</p>
            <p>10% OFF</p>
            <p>Samsung Galaxy S10</p>

            <img class="image" src="../public/images/img-tv-samsung-smart.jpg">
            <p class="precio">$23.200</p>
            <p>5% OFF</p>
            <p>SmartTv Samsung 43"</p>    

        </section>
        <h3>Ofertas</h3>

        <img class="image" src="../public/images/img-cafetera-moulinex.jpg">
        <p class="precio">$6.770</p>
        <p>40% OFF</p>
        <p>Cafetera Moulinex</p>

        <img class="image" src="../public/images/img-macbook-pro-2019.jpg">
        <p class="precio">$230.000</p>
        <p>20% OFF</p>
        <p>MacBook Pro 2019</p>

        <img class="image" src="../public/images/img-samsung-galaxy-s10.jpg">
        <p class="precio">$70.500</p>
        <p>10% OFF</p>
        <p>Samsung Galaxy S10</p>

        <img class="image" src="../public/images/img-tv-samsung-smart.jpg">
        <p class="precio">$23.200</p>
        <p>5% OFF</p>
        <p>SmartTv Samsung 43"</p>   

        <section>


        </section>

    </main>

    <footer>
    <ul>
    <li><p>Pagá con tarjeta o en efectivo</p></li>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    
    <li><p>Envío gratis desde $ 2.500</p>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </li>

    <li><p>Seguridad, de principio a fin</p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </li>

    <li><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></li>

    </ul>
    </footer>
</body>
</html>