<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" rel="stylesheet" type="text/css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <p> <img src="../public/images/logo-mercado-liebre.svg"></p>
        <p>lugar para poner la barra de busqueda</p>
        <p>comprá en cuotas sin tarjeta de crédito</p>
        <ul>
            <li><a href="www.mercadoliebre.com/ofertas"> Ofertas</a></li>
            <li><a href="www.mercadoliebre.com/tiendasoficiales"> Tiendas oficiales</a></li>
            <li><a href="www.mercadoliebre.com/vender"> Vender</a></li>
            <li><a href="www.mercadoliebre.com/ayuda"> Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="www.mercadoliebre.com/creatucuenta"> Crea tu cuenta</a></li>
            <li><a href="www.mercadoliebre.com/ingresa"> Ingresá</a></li>
            <li><a href="www.mercadoliebre.com/miscompras"> Mis compras</a></li>

        </ul>
    </header>

    <main>
        <section>
            <p> Basado en tu última visita</p>

            <img class="image" src="../public/images/img-cafetera-moulinex.jpg">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>

            <img class="image" src="../public/images/img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p>MacBook Pro 2019</p>

            <img class="image" src="../public/images/img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% OFF</p>
            <p>Samsung Galaxy S10</p>

            <img class="image" src="../public/images/img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5% OFF</p>
            <p>SmartTv Samsung 43"</p>    

        </section>
        <p>Ofertas</p>

        <img class="image" src="../public/images/img-cafetera-moulinex.jpg">
        <p>$6.770</p>
        <p>40% OFF</p>
        <p>Cafetera Moulinex</p>

        <img class="image" src="../public/images/img-macbook-pro-2019.jpg">
        <p>$230.000</p>
        <p>20% OFF</p>
        <p>MacBook Pro 2019</p>

        <img class="image" src="../public/images/img-samsung-galaxy-s10.jpg">
        <p>$70.500</p>
        <p>10% OFF</p>
        <p>Samsung Galaxy S10</p>

        <img class="image" src="../public/images/img-tv-samsung-smart.jpg">
        <p>$23.200</p>
        <p>5% OFF</p>
        <p>SmartTv Samsung 43"</p>   

        <section>


        </section>

    </main>

    <footer>
    <ul>
    <li><p>Pagá con tarjeta o en efectivo</p></li>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    
    <li><p>Envío gratis desde $ 2.500</p>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </li>

    <li><p>Seguridad, de principio a fin</p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </li>

    <li><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></li>

    </ul>
    </footer>
</body>
</html>